 
.contact {
    padding:100px 50px 0px 50px ;
    height: auto;
    display:flex;
    justify-content:center;
    align-content:center;   
    margin-top: 150px;
    background:#05072d;
    color: #fff;
}
@media screen and (max-width:1200px){
    .contact {
        margin-top: 80px;
        padding-top:30px;
    }

}

.contact .content{
    position:relative;
    text-align:center;
    width:100%;
    align-content:center;
}

.contact-heading{
    max-width:800px;
    margin:0 auto;
}

h3{
    font-size:40px;
    font-weight:200;
    margin-bottom:10px;
    color:#fff
}


.contact p{
    color:#fff;
    font-size:14px;
}

.contactForm{
    position:relative;
    max-width:800px;
    margin:0 auto;
    display:flex;
}

.contactForm form{
    width:100%;
}

.contactForm .row100{
    display:flex;
    width:100%;
}

.contactForm .row100 .inputBx50{
    width:50%;
    margin:0 20px;
}

.contactForm .row100 .inputBx100{
    width:100%;
  
    margin:0 20px;   
}

.contactForm .row100 input,
.contactForm .row100 textarea{
    position:relative;
    border:none;
    border-bottom:1px solid #FFA500;
    color: #fff;
    background:transparent;
    width:100%;
    padding:10px 0;
    outline:none;
    font-size:18px;
    font-weight:300;
    margin:20px 0;
    resize:none;
}

.inputBx50 input[type=text]:focus{
    border-bottom:1px solid #FFA500;
  
}
input[type=text]:not(.browser-default):focus:not([readonly]){
    border-bottom:1px solid #FFA500;
    box-shadow:none ;
}
.contactForm .row100 textarea{
    height:100px;
}

.contactForm .row100 input::placeholder,
.contactForm .row100 textarea::placeholder{
    color:rgba(255,255,255, 0.5);
}

.contactForm .row100 input[type="submit"]{
    border: 1px solid #FFA500;
    border-radius: 5%;
    color: #FFA500;
    max-width:100px;
    text-transform:uppercase;
    letter-spacing:2px;
    cursor:pointer;
    font-weight:500;
    
}
.contact .social .btn{
    background:transparent;
    color:#fff;
}  
.contact .social .btn a{
 background:transparent;
 color:#fff;
 padding:0px 0px;
}  
.contact  .social .btn a i{
 background:transparent;
 color:#fff;
 padding:10px ;
}   
.copyright p{
    color: #fff;
    font: size 12px;
}