html{
    scroll-behavior:smooth;
}
section {
  margin-top: 30px;  
}
.toggle{
   display:none;
}

header{
    position:fixed;
    top:0;
    left:0;
    background-color:#020652;
    width:100%;
    margin:0px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 20px 20px;
    z-index:100;
    transition:0.6s;
    color:#FFA500;
}

header :hover {
    color:white;
}
.home :hover{
    color:white;
}

header.sticky{
    padding:5px 100px;
    background: white;
    border-bottom: 1px solid (0,0,0,0.1);
}

header .logo{
    margin-left:80px;
    margin-top:10px;
    position:relative;
    font-weight:500;
    color:#FFA500;
    text-decoration:none;
    font-size:2rem;
    text-transform:uppercase;
    letter-spacing:2px;
    transition:0.6s;
}
header .logo .logoname{
  margin-left:30px;
  position: relative;
  
}
header ul{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:0;
}

header ul li{
    position:relative;
    list-style:none;
    color:#FFA500;
}
header ul li {
    color:#FFA500;
}
header ul li a{
    position:relative;
    margin:0 15px;
    text-decoration:none;
    color:#FFA500;
    letter-spacing:2px;
    font-weight:450;
    transition:0.6s;
} 

header.sticky ul li a{
  margin-left:-10px;
    color:#000;
    top:-5px;
    left:15px;
}
a.header_link.selected{
    color:#FFA500;
}

header.sticky .logo .logoname,
header.sticky ul li a{
    color:#000;
    margin-left:10px;
    top:-3px;
}
header .logo img{
    width:60px;
    height:60px;
    position:relative;
    top:10px;
}


@media (max-width:992px){
    .toggle{
        display: block;
        position: relative;
        width: 30px;
        height:30px;
        cursor:pointer;
    }
    header.sticky .toggle:before{
        content:'';
        position:absolute;
        top:4px;
        width:100%;
        height:2px;
        color:#000;
        background: #000;
        z-index:1;
        box-shadow: 0 10px 0 #000;
        transition: 0.5s;
    }
    header.sticky .toggle:after{
        content:'';
        position:absolute;
        bottom:4px;
        width:100%;
        height:2px;
        background: #000;
        z-index:1;
        transition: 0.5s;
    }
    .toggle:before{
        content:'';
        position:absolute;
        top:4px;
        width:100%;
        height:2px;
        color:#fff;
        background: #fff;
        z-index:1;
        box-shadow: 0 10px 0 #fff;
        transition: 0.5s;
    }
    
    .toggle:after{
        content:'';
        position:absolute;
        bottom:4px;
        width:100%;
        height:2px;
        background: #fff;
        z-index:1;
        transition: 0.5s;
    }

    header{
        padding: 5px 50px;
        background-color:#020652;
        
    }
    header.sticky{
        padding: 5px 50px;
        background:#fff;
    }
    
    header ul {
        position:absolute;
        top:60px;
        left:0;
        width:100%;
        height:100vh;
        text-align:center;
        overflow:auto;
        background:#fff;
        visibility:hidden;
        opacity:0;
    }
    
    header.active ul{
        visibility:visible;
        opacity:1;
        display:block;
        padding-top:20px;
    }
        
    header.active ul li a{
        display:inline-block;
        margin:10px 0;
        font-size: 20px;
    }
    header .logoname {
        color:#fff;
    }
    header .logo,
    header ul li a{
        color:#000;
       
        margin:0px;
    }
    
    .sec{
        padding: 100px 50px 50px 50px;
    }
    
    .services .box{
        width:100%;
    }
    
    .stats{
        padding-top:250px;
    }
    
    .row100{
        flex-direction:column;
    }
    
    .contactForm .row100 .inputBx50,
    .contactForm .row100 .inputBx100{
        width:100%;
        margin:0;
    }
        
}
